.vs
.vscode

*.gch
*.o
*.out
build/
main.c

chess_position_extraction

log.txt

precomputedMasks/generateMagic
precomputedMasks/generateMask
precomputedMasks/MagicBitBoardOutput.txt
precomputedMasks/precomputedMaskOutput.txt

tbot

chess_app/assets/svg