src/fenstring.h.gch
src/fenString.o
src/moveGenerator.h.gch
src/moveGenerator.o
build/
out
.vs
.vscode
perftTesting
test
test.txt
s.txt
t.txt
testing/testChessComputer.txt
testBoard
magicGeneration/chessWikiMethod.c
magicGeneration/generateMagic
magicGeneration/output.txt