src/fenstring.h.gch
src/fenString.o
src/moveGenerator.h.gch
src/moveGenerator.o
build/
*.out
.vs
.vscode
perftTesting
test
test.txt
s.txt
t.txt
testing/testChessComputer.txt
testBoard
precomputedMasks/generateMagic
precomputedMasks/generateMask
precomputedMasks/MagicBitBoardOutput.txt
precomputedMasks/precomputedMaskOutput.txt
diffPerft.bash
deploy
examineBot
chess_position_extraction
stockfishUCI/main.c